CI_ENVIRONMENT = production

app.baseURL = 'http://localhost:8080'

database.default.hostname = 127.0.0.1
database.default.database = Dashboard
database.default.username = root
database.default.password = ''
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306