@import url('reset.css');

.logo-title {
    gap: 10px;
}

.title-list {
    font-size: 20px;
    font-weight: 600;
    color: #FAFAFA;
}

.form-filter {
    margin-block: 20px;
    writing-mode: horizontal-tb;
    gap: 8px;
}

.form-filter-input {
    padding-block: 6px;
    padding-left: 35px;
    padding-right: 12px;
    background-color: transparent;
    border: 1px dashed #3F3F46;
    color: #FAFAFA;
    border-radius: 58px;
    cursor: pointer;
}

.form-filter-input::placeholder {
    color: #71717A;
}

.form-filter-input:focus {
    outline: none;
    border-color: #71717A;
}

.form-filter-group {
    position: relative;
    display: inline-block;
}

.form-filter-group img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.filter-btn {
    border: 1px dashed #3F3F46;
    border-radius: 58px;
    background-color: #27272A;
    color: #FAFAFA;
    cursor: pointer;
    padding: 8px 12px;
    gap: 6px;
    transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover {
    border-color: #606067;
}

.table-list {
    font-size: 14px;
    border-top: 2px solid #27272A;
    background: transparent !important;
    color: #D4D4D8;
}

.table-list tr.header td {
    text-align: left;
    padding: 12px 16px;
}

.table-list tr.body td {
    padding: 12px 16px;
    border-top: 1px solid #27272A;
}

.secondary-item {
    color: #71717A;
}

.list-btn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3F3F46;
    background-color: #27272A;
    color: #FAFAFA;
    border-radius: 6px;
    padding: 6px;
    transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn-more:hover {
    border-color: #606067;
}

.pagination-list {
    border-top: 2px solid #27272A;
    padding: 12px 0;
}

.pagination-label {
    font-size: 14px;
    color: #71717A;
}

.page-selector select {
    padding: 6px 12px;
    background-color: #27272A;
    border: 1px solid #3F3F46;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
}

.page-selector select:focus {
    outline: none;
}

.page-selector-opt {
    cursor: pointer;
}

.modal-content {
    background-color: #09090B;
    border: 1px solid #18181B;
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: none;
}

.modal-header h5 {
    color: #FAFAFA;
    font-size: 20px;
    font-weight: bold;
}

.modal-header p {
    color: #71717A;
    font-size: 14px;
    line-height: 160%;
}

.modal-body label {
    font-size: 14px;
    font-weight: 500;
    color: #FAFAFA;
}

.modal-body input {
    border: 1px solid #27272A;
    background-color: rgba(24, 24, 27, .20);
}

.modal-body input::placeholder {
    color: #D4D4D8;
    font-size: 12px;
}

.modal-body input:focus {
    outline: none;
    box-shadow: none;
    background-color: rgba(24, 24, 27, .20);
}

.modal-body input[type="date"] {
    border: 1px solid #27272A;
    background-color: rgba(24, 24, 27, 0.20);
    color: #D4D4D8;
    font-size: 12px;
    font-weight: 500;
}

.modal-body input[type="date"]::placeholder {
    color: #D4D4D8;
    font-size: 12px;
}

.modal-body input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(80%);
    opacity: 0.6;
}

.modal-body input[type="date"]:focus {
    outline: none;
    box-shadow: none;
    border-color: #2DD4BF;
}

.modal-footer {
    border: none;
}

.btn.btn-secondary {
    background-color: transparent;
    border: 1px solid #27272A;
    font-size: 12px;
    font-weight: 500;
}

.btn.btn-primary {
    gap: 6px;
    background-color: #2DD4BF;
    border: none;
    color: #042F2E;
    font-size: 12px;
    font-weight: 500;
}

.btn.btn-secondary:focus,
.btn.btn-secondary:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #27272A;
}

.btn.btn-primary:focus,
.btn.btn-primary:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #2DD4BF;
    background-color: #25B2A2;
    border-color: #25B2A2;
}

.Contratado {
    background-color: #042F2E;
    color: #2DD4BF;
}

.Demitido {
    background-color: #450A0A;
    color: #F87171;
}

.Estagiário {
    background-color: #bdb4ad;
    color: #540303;
}

.Férias {
    background-color: #422006;
    color: #FACC15;
}

.Afastado {
    background-color: #9073ef;
    color: #081779;
}

.Contratado,
.Demitido,
.Estagiário,
.Afastado,
.Férias {
    padding: 4px 8px;
    border: none;
    border-radius: 12px;
    font-size: 10px;
    font-weight: 600;
}

main {
    height: 100%;
}

header h1 {
    color: #F4F4F5;
    font-weight: 500;
}

header button {
    padding: 4px 8px;
    border-radius: 6px;
    gap: 10px;
    background-color: #27272A;
    border: 1px solid #3F3F46;
    font-size: 14px;
    color: #FAFAFA;
    transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

header button:hover {
    border-color: #606067;
}